[Unit]
Description=Periodically move mouse cursor

[Service]
ExecStart=/home/robbie/gitrepos/busymouse/busymouse

[Install]
WantedBy=graphical.target
